ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: #333;
  }
  
  ul li {
    display: inline-block;
    position: relative;
    font-size: 20px;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul li :hover{
    background-color: #111;
  }
  ul li ul{
      padding: 0;
      position: absolute;
      left: 0;
      width: 250px;
      display: none;
      visibility: hidden;
  }

  ul li ul li{
      background: #333;
      display: block;
  }

  ul li ul li{
      background: #333;
  }
  ul li:hover ul{
      display: block;
      opacity: 1;
      visibility: visible;
  }

  ul ul li:hover li{
      display: block;
  }

  body {
      margin: 0;
      }

.title{
    background-image: url("blur-background.jpg");
    padding: 30px;
}

.navbar {
    width: 100%;
    background: #333;
}

.time {
    margin-top:0;
    text-align: center;
    font-size: 100px;
    color: #FF8C00;
    margin-bottom: 0;
}

.bio {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.objective{
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    border-top: 4px solid #FF8C00;
    border-bottom: 4px solid #FF8C00;
}
.skills{
    text-align: center;
    font-size: 20px;
}
.profile{
    margin-top: 10px;
    height: 200px;
    border-radius: 50%;
}
.container{
    width: 100%;
    min-width: 500px;
    margin: auto;
}