body {
  margin: 0;
    /* The image used */
    background-image: url('pythonlogo.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  .content {
    position: relative;
      color: white;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    .content-box{
      background-color: black;
      opacity: 0.7;
      filter: alpha(opacity=60);
      text-align: center;
    }
  
    .navbar {
      width: 100%;
      background: #333;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline;
      background-color: #333;
      z-index: 4;
    }
    
    ul li {
      display: inline-block;
      position: relative;
      font-size: 20px;
      z-index: 4;
    }
    
    ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      z-index: 4;
    }
    ul li :hover{
      background-color: #111;
      z-index: 4;
    }
    ul li ul{
        padding: 0;
        position: absolute;
        left: 0;
        width: 250px;
        display: none;
        visibility: hidden;
        z-index: 4;
    }
  
    ul li ul li{
        background: #333;
        display: block;
        z-index: 4;
    }
  
    ul li:hover ul{
        display: block;
        opacity: 1;
        visibility: visible;
        z-index: 4;
    }
  
    ul ul li:hover li{
        display: block;
        z-index: 4;
    }

    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 200px;
      z-index: 10;
    }
    
    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 10;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: black;
      color: white;
      opacity: 0.9;
      filter: alpha(opacity=60);
      z-index: 10;
    }
    
    /* Set a style for the submit/send button */
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      z-index: 10;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: #555;
      z-index: 10;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
